.ToBottom{
    bottom: 0;
    }
.ToCenter {
    text-align:center;
    }
.ToRightest{
    float: right;
}
.ToLeftest{
    text-align: left;
}
.BgcOlor{
    color: black;
    background-color: blue;
    padding-top: 0%;
    padding-bottom: 100%
}
.ButtonAlign{
    padding-block-end: 0%;
    width: 100%;
}
